<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.FindGoodsMapper">  

  <select id="getAll" parameterType="findgoods" resultType="findgoods">
  	select * from findgoods
  	<trim prefix="where" prefixOverrides="and | or">
  		<if test="goodname!=null and goodname!=''">goodname like concat('%',#{goodname},'%')</if>
  	</trim>
  </select>
  
  <update id="approvedManyFg">
		update findgoods set clo1="Y",updateed=CURRENT_TIMESTAMP where
		fgid in(
		<foreach collection="fgids" item="fgid" separator=",">#{fgid}
		</foreach>
		)
	</update>

	<update id="notapprovedManyFg">
		update findgoods set clo1="P",updateed=CURRENT_TIMESTAMP where
		fgid in(
		<foreach collection="fgids" item="fgid" separator=",">#{fgid}
		</foreach>
		)
	</update>
</mapper>